<launch>

    <!-- Topics Remap -->
    <remap from="/diff_drive_controller/cmd_vel" to="/cmd_vel"/>
    <remap from="/diff_drive_controller/odom" to="/odom"/>

    <!-- Load Controller Parameters -->
    <rosparam file="$(find turtlebot3_control)/config/diff_drive.yaml" command="load" />

    <!-- Start Robot on Simulation -->
    <include file="$(find turtlebot3_description)/launch/turtlebot3_empty.launch" />
    
    <!-- Start Controller Manager and Controllers -->
    <node name="turtlebot3_controller_manager" pkg="controller_manager" type="spawner" 
    respawn="false" output="screen" args="joint_state_controller diff_drive_controller" />

    <!-- Start Robot State Publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Open Rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find turtlebot3_control)/rviz/control.rviz" />

</launch>